<a href="https://colab.research.google.com/github/Kim-JungHyun01/PythonStudy24/blob/master/BaseType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초학습 1일차 2024.12.18

파이썬 프로그래밍 기초, 자료형

1. 숫자형
2. 문자열
3. 리스트
4. 튜플
5. 딕셔너리
6. 집합
7. 불

## 숫자형

In [6]:
# 숫자형 : 정수형, 실수형, 진수형(2진수, 8진수 12진수등)

#정수형(integer) : 양의 정수, 0. 음의 정수을 변수에 대입

a = 123 #양의 정수
b = -123 #음의 정수
c = 0 #숫자 0

#실수형(floating-point) : 소수점이 포함된 숫자
d = 12.2
e = -15.6

#지수 표현방법 : 많은 수치를 짧게 표현
f = 4.14E4 #4.14 * 10^4
g = 4.24e-2 # 4.24 * 10^-2

#진수 표현방법 : 10진수(사람), 2진수(컴퓨터), 리뉵스(8진수), cpu(16진수)
#8진수(옥타 : octal) -> 숫자0에 알파벳o(대소문자가능) : 0o or 0O
h = 0o177
print(h) #127 10진수
# 1 7 7 => 4,2,1중에 더해지는 것만 1로 ture =>
# (0+0+1) (4+2+1) (4+2+1) => 001 111 111 => 1+2+4+8+16+32+64 = 127

#16진수 (헥사 : haxadecimal) : 숫자0에 알파벳x
i = 0x8ff
print(i) #2303 10진수
#16진수 : 1 2 3 4 5 6 7 8 9 A B C D E F :16개
# 8ff : 8 15 15 => 8,4,2,1중에 더해지는 것만 1 => (8+0+0+0) (8+4+2+1) (8+4+2+1)
# 1000 1111 1111 => 2048+128+64+32+16+8+4+2+1 = 2303

127
2303

숫자형을 활용하기 위한 연산자
1.   사칙연산 : +, -,/,*
2.   우선순위 : 괄호 -> *,/ -> 앞쪽부터

In [14]:
 a = 3
 b = 4
 a + b

7

In [15]:
a - b

-1

In [16]:
a * b

12

In [17]:
a / b

0.75

In [18]:
#제곱(**)
a ** b #3^4 = 3*3*3*3

81

In [21]:
#나머지 처리(%)
7 % 3

1

In [25]:
#나눗셈 후 몫 리턴(//)
7 // 4 # 몫 : 1
#구분 : 7 / 4 => 1.75

1

In [26]:
#복합연산자 +=, -=, *=, /=, //=, %=, **=

a = 1
a += 1 #a = a+1
print(a)

2

## 문자열

In [31]:
#문자열 자료형(String) : 연속된 문자들의 나열 ""(큰따움표)

#큰따움표
"Hello World"

#작은따움표
'Hello World'

#양쪽 둘러싸기
#큰따움표 3개 연속사용
"""Hello World"""

#작은따움표 3개 연속사용
'''Hello World'''

#큰따움표 안 작은따움표 가능
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [32]:
#만약 문자열 출력에 큰따움표를 보여주고 싶을때
#작은따움표 안에 큰따움표
str = 'My favorite food is "Python"'
str

'My favorite food is "Python"'

### 이스케이프 코드

이스케이프 코드 종류
* \n	: 줄바꿈 = enter
* \t	: 탭 간격
* \\\	: \표현
* \\'	: 작은따옴표(')
* \\"	: 큰따옴표(")
* \r	: 캐리지 리턴(과거 타자기 효과 : 커서를 현재 줄 맨 앞으로)
* \f	: 폼 피드(커서를 현재 줄의 다음 줄로 이동)
* \a	: 벨 소리(출력할 때 PC 스피커에서 '삑' 소리)
* \b	: 백 스페이스 = space
* \000 : 널 문자

In [35]:
#이스케이프 문자 \n \t, \r, \\등(\ : 역슬레시)
food = "Python\t favorite food is perl"
say = "Python\'s favorite food is perl" # \' : '문자표시
print(food)
print(say)

Python
 favorite food is perl
Python's favorite food is perl

In [38]:
#여러줄로 출력 \n 엔터 효과
multiline = "Life is too short\n You need python"
print(multiline)

Life is too short
 You need python

In [39]:
#여러줄로 출력이 가능한 '''
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [41]:
#여러줄로 출력이 가능한 """
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

### 문자열 연산

In [43]:
#문자열 연산자(더하기)
head = "python"
tail = " is fun!!"
head+tail

'python is fun!!'

In [46]:
#문자열 연산자(곱하기 = 반복)
body = " very"
head + body * 2 + tail

'python very very is fun!!'

In [48]:
print("=" * 30)
print("Welcome to Python World")
print("=" * 30)

==============================
Welcome to Python World
==============================

In [49]:
#문자열 길이(len)
a = "Life is too short"
len(a)

17

In [58]:
#문자열 인덱싱(indexing), 슬라이싱(slicing)
#문자열 : 문자배열 => 0부터 인덱스적용
a = "Life is too short, You need Python"
#    0123456789 ...                   33
#  -32                                -1
#len(a) #34
print(a[6])
print(a[-1]) #문자열 뒤부터

s
n

In [72]:
#문자열 추출하기
a = "Life is too short, You need Python"
b = a[0]+a[1]+a[2]+a[3]
print(b)

Life

In [73]:
#문자열 슬라이싱
c = a[:4] # 처음~n-1까지
print(c)
d = a[16:] #정해진숫자 ~ 끝
print(d)
e = a[:] #처음 ~ 끝
print(e)

Life
t, You need Python
Life is too short, You need Python

In [77]:
#슬라이싱 활용_1
a = "20241218Sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20241218
Sunny

In [76]:
#슬라이싱 활용_2
a = "20241218Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year)
print(month)
print(day)
print(weather)
type(year)

2024
12
18
Sunny

str

In [82]:
# pithon문자열을 python으로 바꾸고 싶음
a = "Pithon"
#a[1] = 'y' # String 타입은 직접적 교체불가
#메소드사용 or 분해후 결합
a = a[:1] + 'y' + a[2:]
print(a)

Python

### 문자열 포맷코드

문자열 포맷코드
* %s : 문자열(String)
* %c : 문자 1개(character)
* %d : 정수(Integer)
* %f : 실수(=부동소수)(floating-point)
* %o : 8진수
* %x : 16진수
* %% : Literal % (문자 % 자체)

In [83]:
#문자열 포맷팅_자바의 printf와 같은 기능
#동적 출력을 위한 기능 : ""안에 정수나 문자열등을 추가할 때 활용
"I eat %d apples." % 3 # %d : 정수 , 마지막 %뒤의 값 :  동적값

'I eat 3 apples.'

In [84]:
"I eat %s apples." % "five" #문자열동적 : %s, 동적갑 : "" or ''로 처리

'I eat five apples.'

In [85]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [91]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)
#동적매개값 2개이상시 ()와 ,이용 / 단, 파라미터 순서, 타입 중요

'I ate 10 apples. so I was sick for three days.'

In [92]:
#파이썬의 장점 => 자동타입변환 : %s는 정수나 실수를 자동타입으로 문자열로 변환
"I have %s apples" % 3

'I have 3 apples'

In [93]:
"rate is %s" % 3.234

'rate is 3.234'

In [99]:
#문자열 안에 %를 넣고 싶을 때 -> Error is 98%
#""안의 % : 예약어 => 문자열 처리 : %%
"Error is %d%%" % 98

'Error is 98%'

In [104]:
#포맷팅 숫자(문자 : 기본 왼쪽정렬 / 숫자 : 기본 오른쪽정렬)
# 숫자 : 각각의 파라미터의 길이
print("%-10s MBC AI" % "hi")  # - : 왼쪽정렬
print("%10d" % 105)           # + : 생략가능, 오른쪽정렬

hi         MBC AI
       105

In [113]:
#소수점 포맷팅
"%10.4f" % 123456789.1546845 #소수점 n+1에서 반올림해서 출력
#파라미터길이는 기본자릿수 일뿐, 넘치면 자동추가

'123456789.1547'

### format()

In [117]:
#포맷팅 가독성 높이기 : .format()메서드
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("five"))

I eat 3 apples
I eat five apples

In [123]:
number = 5
day = "three"
"I eat {0} apples, so I sicks {1} days".format(number,day)

'I eat 5 apples, so I sicks three days'

In [126]:
"I eat {number} apples, so I sicks {day} days".format(number = 10,day = "four")

'I eat 10 apples, so I sicks four days'

In [127]:
"I eat {0} apples, so I sicks {day} days".format(number,day = "four")

'I eat 5 apples, so I sicks four days'

In [142]:
print("MBC AI {0:<10} PYTHON".format("hi"))#왼쪽
print("MBC AI {0:>10} PYTHON".format("hi"))#오른쪽
print("MBC AI {0:^10} PYTHON".format("hi"))#가운데

#빈부분채우기
print("MBC AI {0:=^10} PYTHON".format("hi"))
print("MBC AI {0:?<10} PYTHON".format("hi"))

MBC AI hi         PYTHON
MBC AI         hi PYTHON
MBC AI     hi     PYTHON
MBC AI ====hi==== PYTHON
MBC AI hi???????? PYTHON

In [141]:
#소수점 표현
y=98.456852736
"{0:10.4f}".format(y) #n+1자리에서 반올림 / 총자리수 : 10

'   98.4569'

In [145]:
#{ 문자 }형태 출력
"{{ 문자 }}".format()
#예약기호를 두번 연속 입력시 문자형태로 출력

'{ 문자 }'

### 접두사 f

파이썬 3.6이상 버전 최신 포멧팅

.format()메서드 사용x인 기법
=> 접두사로 f를 입력

In [152]:
name = "김기원"
age = 42
f"my name is {name}. my age is {age+5}" #연산이 가능 / '', "" 가능

#"""의 이용 가능
text = f"""my name is {name}.
my age is {age+5}"""
print(text)

my name is 김기원.
my age is 47

In [155]:
#딕셔너리를 활용한 포멧핑 (key : value로 이루어진 객체)
d = {'name':'김기원', 'age':42}
f'my name is {d["name"]}. my age is {d["age"]}' #변수[key명칭]

'my name is 김기원. my age is 42'

In [159]:
f'{"hi":=^10}' #format의 정렬과 동일

'====hi===='

In [167]:
y=3.14532648
f'{y:_>10.4f}'

'____3.1453'

In [168]:
# { 문자 }로 출력
f'{{ 문자 }}'

'{ 문자 }'