<a href="https://colab.research.google.com/github/Kim-JungHyun01/PythonStudy24/blob/master/%EC%9D%B4%EB%A1%A0%EA%B3%BC%EC%A0%95/DictionaryType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초학습 2일차 2024.12.19

## 딕셔너리 자료형

- dictionary : 사전
- 형태 : 중괄호{}이용, 쉼표(,)로 구분/ {key : value, key : value}
- 순차적으로 해당 요솟값을 구하지 않음(리스트, 튜블등) => key를 이용

In [1]:
# 딕셔너리 생성 : {key : value}
dic = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
print(dic)
# key     value
# name    pey
# phone   0119993323
# birth   1118

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [5]:
# 딕셔너리 생성_2
a = {1 : 'hi'}        #key : 정수
b= {'a' : [1, 2, 3]}  #value : 리스트
print(a)
print(b)

{1: 'hi'}
{'a': [1, 2, 3]}

### 딕셔너리 추가 & 삭제

In [9]:
#딕셔너리 추가 : 따로 함수없이 추가가능
a = {1 : 'a'}
print(a)

a[2] = 'b' # key : 1 / value : b
a[3] = [1,2,3] #리스트 추가 가능
print(a)

#단, key의 값이 같을 경우 value값만 변경
a[1] = 3
print(a)

{1: 'a'}
{1: 'a', 2: 'b', 3: [1, 2, 3]}
{1: 3, 2: 'b', 3: [1, 2, 3]}

In [10]:
#딕셔너리 삭제
del a[1]
print(a)

{2: 'b', 3: [1, 2, 3]}

### value 값 찾기

In [12]:
#key값이용
grade = {'pey': 10, 'julliet': 99}
print(grade['pey'])
print(grade['jul']) #key 값이 없을 경우, key오류

10

KeyError: 'jul'

In [13]:
#key의 값은 다양한 타입이 가능
a = {1 : 'a', 2 : 'b'}
b = {'b' : 1, "a" : 2}
print(a[1])
print(b['b'])

a
1

### 주의사항

In [16]:
# key는 고유값으로 중복된 key는 무시
a = {2 : 'c', 1 : 'a', 1 : 'b'}
print(a)
# 앞의 value값을 무시 => 이전값에 이후값이 대입되는 형태

{2: 'c', 1: 'b'}

In [17]:
# key는 정수, 문자열가능 / 리스트x
a = {[1,2] : 'grade'}
print(a)

TypeError: unhashable type: 'list'

### .keys()

In [30]:
#key만 리스트형태로 출력 : .keys()
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
print(a.keys())
#메모리 낭비를 방지하기 위해 dict_keys 객체로 리턴
list(a.keys())

dict_keys(['name', 'phone', 'birth'])

['name', 'phone', 'birth']

In [23]:
for k in a.keys():
  print(k)

name
phone
birth

### .values()

In [29]:
#value 리스트 형태로 출력 : .values()
print(a.values())
list(a.values())

dict_values(['pey', '0119993323', '1118'])

['pey', '0119993323', '1118']

### .items()

In [31]:
#key, value 둘다 출력 : .items()
print(a.items())
list(a.items())

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]

### .clear()

In [33]:
#key: value모두 지우기
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
a.clear()
print(a) #빈 딕셔너리 : 중괄호{}

{}

### .get()

In [34]:
#value값 찾기_2 : .get(key값)
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
print(a.get('name'))
print(a.get('phone'))

pey
0119993323

In [35]:
#key값이 없을 경우, 출력문 차이
print(a.get('nokey')) #None : 없음==null
print(a['nokey']) #key 오류

None

KeyError: 'nokey'

In [36]:
#key값이 없을 경우 디폴트 값 지정 : .get(key값, 디폴트값)
print(a.get('nokey', 'null'))

null

### in

In [37]:
#key값이 딕셔너리에 있는지 확인 : key값 in 딕셔너리 => boolean형태로 출력
a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}
print('name' in a)
print('email' in a)

True
False