<a href="https://colab.research.google.com/github/Kim-JungHyun01/PythonStudy24/blob/master/%EC%9D%B4%EB%A1%A0%EA%B3%BC%EC%A0%95/FunctionExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초학습 4일차 2024.12.23

함수(function)
- 단일 동작을 수행하는 블럭
- 자바 : 중괄호{} / 파이썬 : 줄단위수행(인터프리터)
- 반복적인 코드 발생을 최소화하기 위해서(CRUD)
- def : define_정의
- 형태: def 함수명(매개변수):

프로그램 메모리 영역(3가지)
- 스택(stack) 영역 : 변수의 기본타입, 참조타입을 연결
- 힙(hip) 영역 : 객체생성후 주소를 가지고 있음
- 메소드(function) 영역 : 함수 보관장소, 호출되면 매개값(파라미터)과 리턴값제공

In [ ]:
# add 함수 생성(매개변수 : 2)
def add(a,b):
    print("add() 종료")
    return a+b
    # add() 종료

print(add("김", "기원"))

add() 종료
김기원

## argument

In [ ]:
# 매개변수 갯수가 지정x일때 (1개 이상~)
# args(arguments): *_모든 값을 전부 넣음 => 관례일뿐 꼭 사용x
def add_many(*args):
    result = 0
    for i in args:
        result += i # result = result + i
    return result

result = add_many(1,2,3,4,5,6,7,8,9)
print(result)

45

In [ ]:
test = add_many(9,8,7,6)
print(test)

30

In [ ]:
def add_muti(choice, *args):
    #더하기
    if choice == "add":
        result = 0
        for i in args:
            result += i
    #곱하기
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i

    return result

#더하기
result = add_muti("add", 1,2,3,4,5)
print(result)

#곱하기
result = add_muti("mul", 1,2,3,4,5)
print(result)

15
120

In [ ]:
#문자열은 x
result = add_muti("add", "김","기","원")
print(result)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

## 키워드 매개변수 : kwargs

In [ ]:
# **kwargs : key value argement_키워드 메개변수(딕셔너리타입)
#변수명은 kwargs가 관례일뿐
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(kkw = 31)

print_kwargs(id="kkw", password="12345", phone = 8188, email = "damin@nate.com")

{'kkw': 31}
{'id': 'kkw', 'password': '12345', 'phone': 8188, 'email': 'damin@nate.com'}

## 리턴값 2개이상

In [ ]:
#리턴값이 2개
def add_and_mul(a,b):
    return a+b, a-b, a*b

a,b,c= add_and_mul(3,4)
print(a)
print(b)
print(c)

7
-1
12

## 매개변수 기본값

In [ ]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나의 나이는 %d 입니다." % old)
    print("성별은", end=" ")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

say_myself("김기원", 30)
print()
say_myself("하늘이", 20, False)

나의 이름은 김기원 입니다.
나의 나이는 30 입니다.
성별은 남자입니다.

나의 이름은 하늘이 입니다.
나의 나이는 20 입니다.
성별은 여자입니다.

## 지역변수, 매개변수

In [ ]:
a = 1
def vartest(a):
    a = a +1

vartest(a)
print(a)

1

## global

In [ ]:
a = 1
def vartest():
    global a
    a = a+1

vartest()
print(a)

2

## lambda

lambda_람다식 : 인터페이스형태의 실행문이 <1개>인 코드

파이썬 : 변수(함수명) = lambda 매개변수: 실행문

자바 : -> 이용

자바스크립트 => 이용

In [ ]:
add = lambda a, b:a+b
result = add(3,4)
print(result)

7