<a href="https://colab.research.google.com/github/Kim-JungHyun01/PythonStudy24/blob/master/%EC%9D%B4%EB%A1%A0%EA%B3%BC%EC%A0%95/ListType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초학습 2일차 2024.12.19

테이블 자료처리 : 각각의 객체를 모아서 처리하는 용도

*   리스트 자료형
*   튜블 자료형
*   딕셔너리 자료형
*   집합 자료형

## 리스트 자료형

In [ ]:
#대괄호[]를 이용하여 감싸고 쉼표(,)로 요소를 구분
#=> 자바 : 배열과 유사(단, 배열은 초기 행열값(크기고정)을 가짐 -> 단점보안 : arraylist)

odd = [1, 3, 5, 7, 9] #기본 arraylist

a = [] #빈리스트 = a = list()
b = [1, 2, 3]#정수형 리스트
c = ['Life', 'is', 'too', 'short'] #문자형 리스트
d = [1, 2, 'Life', 'is'] #혼합형 리스트
e = [1, 2, ['Life', 'is']] #이중 리스트

### 리스트 인덱싱

In [4]:
a = [1,2,3]
print(a[0]) #리스트의 0번 인덱스 출력

1

In [5]:
a[0] + a[1]

3

In [6]:
a[-1] #마지막 요소값

3

In [11]:
#2차원 배열
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[3]) # = a[-1]
print(a[3][2]) #[행(가로)][열(세로)]

1
['a', 'b', 'c']
c

In [18]:
#3차원 배열 : 사진, 영상, 게임 => (가로x세로 -> 픽셀, 깊이 -> RGB컬러)
member = [["김지원",["교사", 312]], ["노랑", ["학생1", 312]], ["하늘",["학생2", 311]], ["초록",["학생3", 312]]]
print(member[2][1][1])

311

### 리스트 슬라이싱

In [23]:
a = [1,2,3,4,5]
print(a[0:2]) #n ~ m-1까지
print(a[:2]) #처음 ~ 1까지
print(a[2:]) #2 ~ 마지막

[1, 2]
[1, 2]
[3, 4, 5]

In [25]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
#    0  1  2         3         4  5
#               0    1    2
print(a[2:5])
print(a[3][1:])

[3, ['a', 'b', 'c'], 4]
['b', 'c']

### 리스트 연산

In [28]:
#리스트 연산 : +, * 활용 => 문자열의 +, *와 유사
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
#리스트 길이 : len
print(len(a))
print(len(a+b))

3
6

In [35]:
#리스트 글자 추가
a = [1, 2, 3]
print(str(a[2]) + "hi") #str(정수) => 문자열
print(a[2] + "hi") # int + str

3hi

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
#리스트 값 수정(대입), 객체 삭제(del) / #romove, pop함수도 제어용
a = [1, 2, 3]
a[2] = 4
print(a)

a[1] = "\000" #삭제 = null 단, \000은 안됌
print(a)

del a[1]
print(a)

[1, 2, 4]
[1, '\x00', 4]
[1, 4]

In [43]:
a = [1, 2, 3, 4, 5]
del a[2:]
print(a)

[1, 2]

### .append()

In [45]:
#리스트 관련 함수
#.append() : 이미 만들어진 리스트에 객체를 추가
a = [1, 2, 3, 4, 5]
a.append(7)
print(a)

#2차원 배열 추가
a.append([8,9])
print(a)

[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7, [8, 9]]

### .sort() & .reverse()

In [61]:
#.sort() : 리스트 요소 정렬
a = [4, 5, 1, 9, 6]
#오름차순
a.sort()
print(a)

#내림차순
a.reverse()
print(a)

[1, 4, 5, 6, 9]
[9, 6, 5, 4, 1]

In [63]:
#같은 타입이 아니면 정렬x
a = [6, "김기원", 'a', '@']
a.sort
print(a)

a.reverse
print(a)

[6, '김기원', 'a', '@']
[6, '김기원', 'a', '@']

In [55]:
# 같은 타입
b = ['z', 'b', 'd', 'g', 'k']
b.sort()
print(b)

['b', 'd', 'g', 'k', 'z']

In [56]:
c = ["김기원", "노랑", "초록", "하양"]
c.sort()
print(c)

['김기원', '노랑', '초록', '하양']

### .index()

In [66]:
#인덱스 반환 .index(값) : 해당값이 몇번 index에 있는지
a = [1, 2, 3]
#    0  1  2  : index
print(a.index(3))
print(a.index(1))
print(a.index(4)) # 없으면 오류

2
0

ValueError: 4 is not in list

### .insert()

In [71]:
#리스트에 요소 삽입 : .insert(인덱스, 값)
#삽입시 지정 인덱스 뒤의 값들은 밀림
a = [1, 2, 3]
a.insert(0,4)
print(a)

a.insert(3,5)
print(a)

a.insert(6,10) #기존 길이보다 높으면 맨마지막에 들어갈뿐
print(a)

[4, 1, 2, 3]
[4, 1, 2, 5, 3]
[4, 1, 2, 5, 3, 10]

### .remove()

In [72]:
# 리스트 값 삭제 : .remove(값) : 해당 값을 삭제
a.remove(3)
print(a)

[4, 1, 2, 5, 10]

In [73]:
#중복된 값의 경우, 맨 처음 한번만
b = [3, 1, 3, 2, 3]
b.remove(3)
print(b)

[1, 3, 2, 3]

### .pop()

In [79]:
# 리스트 요소 추출 : .pop(인덱스) : 인덱스x시 맨 마지막꺼
c = [1, 2, 3, 4, 5, 6]
print(c.pop())
print(c)

6
[1, 2, 3, 4, 5]

In [80]:
print(c.pop(3))
print(c)

4
[1, 2, 3, 5]

### .count()

In [83]:
#값의 갯수 : .count(값)
d = [3,1,3,1,3,1,3,1,3,1]
print(d.count(1))
print(len(d))

5
10

### .extend()

In [87]:
#리스트 확장 : .extend(리스트) : a[]+x[]
e = [1,2,3]
e.extend([4,5]) #e += [4,5]
print(e)

f = [6,7,9]
e.extend(f)
print(e)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 9]