<a href="https://colab.research.google.com/github/Kim-JungHyun01/PythonStudy24/blob/master/%EC%9D%B4%EB%A1%A0%EA%B3%BC%EC%A0%95/TupleType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초학습 2일차 2024.12.19

## 튜블자료형

리스트와 거의 유사

차이점
- 리스트 : 대괄호[] / 튜블 : 소괄호()
- 리스트 : CRUD(보기, 생성, 수정, 삭제) 가능 / 튜블 : CR만 가능(읽기전용)

  => 요솟값을 변화시킬수 있는지 여부
  
  => 프로그램이 실행되는 동안, 요솟값의 변화를 방지하기 위해 사용
- 자바의 Collections.unmodifiableList()와 유사(읽기만 가능한 것)
https://velog.io/@clean01/Java-%EB%B3%80%EA%B2%BD%EC%9D%B4-%EB%B6%88%EA%B0%80%EB%8A%A5%ED%95%9C-Collection%EC%9D%84-%EB%A7%8C%EB%93%A4%EA%B8%B0-Immutable-Collection-Immutable-List

- sort, insert, remove, pop 의 내장함수x

In [ ]:
#튜블 생성
t1 = ()           #빈객체
t2 = (1,)         #1개의 요소만 가질때 : 쉼표(,)를 반드시 붙일 것
t3 = (1,2,3)
t4 = 1,2,3        #괄호 생략가능
t5 = ('a', 'b',('ab', 'cd'))  #2차원 튜블

In [1]:
#튜블 삭제 => 적용x
t1 = (1,2,'a','b')
del t1[0]
print(t1)

TypeError: 'tuple' object doesn't support item deletion

In [2]:
#튜블 요솟값 변경 => 적용x
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment